body {
    background-image: url(../assets/images/background/image7.jpg);
    /* The image used for background*/
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-position: center;
    /* Center the image */
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.btn-color {
    position: relative;
    background-color: rgb(133, 147, 152);
    color: #fff;
    border-radius: 0.37rem;
    padding-right: 1.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.8);
}

.btn-color :hover {
    color: #fff !important;
    background-color: rgba(59, 95, 117, 0.6) !important;
}

.profile-img {
    width:100px;
    height:100px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.8);
}

.thumbnail-image{
    width: 30px !important;
    height: 30px !important;
    border-radius: 5px;
    margin-left: 5px;
}

.btn-modal {
    position: relative;
    background-color: #e9dcdc;
    color: #fff;
    border-radius: 0.37rem;
    padding-right: 1.5rem;
}

.btn-modal :hover {
    color: #fff !important;
    background-color: #c0c0c0 !important;
}

.btn-options {
    display: none;
    /* Hide the button by default */
}

.btn-modal :hover {
    color: #fff !important;
    background-color: #c0c0c0 !important;
}

.btn-response{
    width: 50%;
}

.a-response{
    font-size: 20px;
}

@media (max-width: 350px) {
    .btn-response {
       width: 90%;
    }
    .a-response{
        font-size: 13px;
    }
}